.sliderx{
    width:100%;
    overflow:hidden;
    position:relative;
    margin:0;
}
.edge{
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:absolute;
    height:100%;
    display:block;
}
.edge:before{
    content:'';
    position:absolute;
    left:0;

    width:25%;
    height:100%;
}
.edge:after{
    content:'';
    position:absolute;
    right:0;

    width:25%;
    height:100%;
}
ul.slideContainer{
    background:none;
    overflow:hidden;
    width:1000%;
    margin:0;
}
li.slideItem{
    list-style:none;
    display:inline-block;
    padding:0 50px;
}
li.slideItem img{
    width: 130px;
    height: 40px;
}
