.brimicon{
	text-align: center;
}
.brimicon h1{
	text-align:center;      
	font-size: 80px;              
	color: #999999;
}
.brimicon h3 span{
	color: #e2853a;
}
.brimicon p span{
	color: #000000;;
}
